body {
    font-family: 'Raleway', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;

}

h1 {
    font-weight: 700;

}

h2 {
    font-weight: 400;
}

.header {
    background: #669966;
    color: #010101;
    padding-top: 20px;
    padding-bottom: 10px;
}

.menu {

}

.menu__item {
    margin: 0 40px;

}


.menu__item a {
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.offer {
}

.offer__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 40px;
    margin-top: 110px;
}

.offer__text {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    width: 400px;
}

.chain {
    display: block;
    margin: 50px auto 0;
    padding-bottom: 50px;
}

.routes {
    background: #669966;
}

.routes__all {
    font-size: 18px;
    color: #000;
}

.routes__search {
    font-size: 18px;
    color: #000;
    padding-bottom: 40px;

}

.route__one {
    font-size: 18px;
    color: #000;
}

.route__one__search {
    font-size: 18px;
    color: #000;
    padding-bottom: 40px;

}

.route__one__search__form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    width: 220px;
    padding: 4px 0;
    padding-left: 20px;

}


.info {
    background: #669966;
}

.info__max {
    font-size: 18px;
    color: #000;
    padding-bottom: 10px;
}

.info__min {
    font-size: 18px;
    color: #000;
}

.cards {
    background: #669966;
}

.cards__all {
    background: #669966;
}

.cards__one {
    font-size: 14px;
    color: #000;
}

.cards__two {
    font-size: 14px;
    color: #000;
}

.cards__three {
    font-size: 14px;
    color: #000;
}

.footer {
    background: #669966;

}

.title__main {
    background: #669966;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.title__text {
    background: #669966;
    font-size: 18px;
    text-align: center;
}

.form {
    text-align: center;
    padding-bottom: 30px;
}

.form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    width: 500px;
    padding: 4px 0;
    padding-left: 20px;

}

.form__button {
    background: #95999c;
    font-family: 'Raleway', sans-serif;
}

.editor {
    background: #669966;
}

.editor__one__search {
    font-size: 18px;
    color: #000;
    padding-bottom: 30px;
}

.editor__one__search__form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    width: 220px;
    padding: 4px 0;
    padding-left: 20px;
}

.editor__patch {
    font-size: 18px;
    color: #000;
    padding-bottom: 30px;
}


.editor__patch__input {
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    width: 220px;
    padding: 4px 0;
    padding-left: 20px;

}

.editor__coors__search {
    font-size: 18px;
    color: #000;
    padding-bottom: 30px;
}


.editor__coors__search__form__input {
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    width: 220px;
    padding: 4px 0;
    padding-left: 20px;

}

.editor__delete {
    font-size: 18px;
    color: #000;
}


.editor__delete__input {
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    width: 220px;
    padding: 4px 0;
    padding-left: 20px;

}

a.custom-card,
a.custom-card:hover {
    color: inherit;
}

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }


    .offer__title {
        text-align: center;
    }

    .offer__text {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .chain {
        width: 100%;
    }
}
