body{
    font-family: 'Raleway', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;

}

h1 {
    font-weight: 700;

}

h2 {
    font-weight: 400;
}

.header{
    background: #669966;
    color: #010101;
    padding-top: 20px;
    padding-bottom: 10px;
}

.menu{

}

.menu__item{
    margin: 0 40px;

}


.menu__item a{
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.offer{
}

.offer__title{
    font-size: 24px;
    color: #000;
    margin-bottom: 40px;
    margin-top: 110px;
}

.offer__text{
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    width: 400px;
}

.chain{
    display: block;
    margin: 50px auto 0;
    padding-bottom: 50px;
}

.routes{
    background: #669966;
}
.routes__all{
    font-size: 18px;
    color: #000;
}
.routes__search{
    font-size: 18px;
    color: #000;
    padding-bottom: 10px;
}

.info{
    background: #669966;
}

.info__max{
    font-size: 18px;
    color: #000;
}

.info__min{
    font-size: 18px;
    color: #000;
}

.cards{
    background: #669966;
}

.cards__all{
    background: #669966;
}

.cards__one{
    font-size: 14px;
    color: #000;
}

.cards__two{
    font-size: 14px;
    color: #000;
}

.cards__three{
    font-size: 14px;
    color: #000;
}

.editor{
    background: #669966;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
}

@media screen and (max-width: 992px) {
    .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    }


    .offer__title{
        text-align: center;
    }

    .offer__text{
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .chain {
        width: 100%;
    }
}
